input#pesquisa{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #b4b0b0;
    border-radius: 10px;
    width: min(400px, calc(100% - 30%));
    border: none;
}

#pesquisa::placeholder{
    color: #000;
}